@charset "utf-08";

/*Name Header*/ 
body{
    width:auto;
    height: 100%;
    background:url(blueback.png);
}
body>article>h1{
    display:block;
    border:1px;
    font-size: 7em;
    font-family: "baskerville old face","times new roman";
    position:absolute;
    right: 10px;
    top: -90px;
    color: linear
}
h1{
    color:blueviolet;
}
/*Picture*/
figure#figure1{
    position:absolute;
    right:35px;
    bottom:-50px;
}

/* articles*/


section#GraduationInfo{
    width: 25%;
    position:absolute;
    top:30%;
    left:38%;
    text-align: center;
    border: rgb( 138,43,226)solid 1px;
    background:rgb(199, 155, 240);
    opacity: .5;
    vertical-align: middle;
    
}
section#GraduationInfo> p{
    opacity:1;
    color:rgb(43, 19, 88);
    font-size: 1.5em;
}

/*aisde*/

section#Work{
    position:absolute;
    bottom:0;
    left:0;
    text-align:center;
}
